#globalstats {
	padding: 15px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

#globalstats h2 {
	margin: 0
}

.globalstat {
	margin: auto;
}

#lastreport {
	width: 45%;
	margin: 15px auto;
	display: grid;
	grid-template-rows: 1fr ;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	border-radius: 4px;
	background: #e6edf5;
}

#lastreport h4 {
	margin: 0
}

#lastupdate {
	grid-column: 1/3;
	margin-top: 15px;
}
