#countryInfo {
	width: 60%;
	margin: auto;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 2fr 1fr;
	border-radius: 5px;
	background: #fcfdfd;
}

#country_heading {
	grid-row: 1/5;
	margin: auto;
	align-items: center;
	justify-content: center;
}

#country_heading h1 {
	margin: 0;
}

.country_stat {
	width: inherit;
}

.country_stat b {
	margin: auto;
}

#no_country {
	margin-top: 80px;
}
